/* Contact.module.css */

.section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.mapContainer {
  margin-bottom: 2rem;
}

.infoContainer {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.buttonContainer {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #0070f3;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}





/* 고객 문의 폼 */
.contactSection {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.formContainer {
  width: 100%;
}
