@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

/* 전체 스크롤바 커스터마이징 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

/* 스크롤바 화살표 제거 */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 16px);
  height: 60px;
  background: white;
  z-index: 50;
}



/* 기본 글자 크기 (데스크탑 및 큰 화면) */
.button-container {
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  font-size: 3rem; /* 기본 글자 크기 */
}


/* 기본 글자 크기 (데스크탑 및 큰 화면) */
.button-container-medium {
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 1.0);
  font-size: 2.0rem; /* 기본 글자 크기 */
}



/* 기본 글자 크기 (데스크탑 및 큰 화면) */
.button-container-small {
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  font-size: 1.2rem; /* 기본 글자 크기 */
}





/* 기본 버튼 스타일 */
.button {
  padding: 0.5rem 1rem; /* px-4, py-2 */
  border-radius: 0.375rem; /* rounded */
  border: 1px solid transparent; /* border */
  transition: all 0.3s ease; /* transition */
}

/* 선택된 버튼 */
.button.selected {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* 비선택된 버튼 */
.button.deselected {
  background-color: #2d2d2d; /* bg-gray-800 */
  color: #f0f0f0; /* text-gray-100 */
}



/* Index/Models 차 이름 목록 버튼 CSS */
.button2 {
  color: rgb(0, 0, 0);
  font-size: 2rem; /* 기본 글자 크기 */
}


.models-mainspec-car {
  width: 100%;
  height: auto;
  max-width: 600px;
  object-fit: contain;
}


.models-mainspec-car-name {
  color: rgb(0,0,0);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}


.models-mainspec-table {
  width: 100%;
  min-width: 500px;
  table-layout: auto;
}


.models-trimprice-table {
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  table-layout: auto;
}


.title-text {
  color: rgb(0,0,0);
  font-size: 2.5rem;
  text-align: center;
}

.normal-text {
  color: rgb(77, 77, 77);
  font-size: 1.2rem;
  text-align: center;
}



/* 반응형CSS : 중간 사이즈 */
@media (max-width: 768px) {
  .button-container {
    font-size: 1.5rem;
  }

  .button-container-medium {
    font-size: 1.2rem;
  }

  .button-container-small {
    font-size: 0.8rem;
  }

  .button {
    font-size: 0.8rem;
  }

  .button2 {
    font-size: 1.0rem;
  }

  .models-mainspec-car {
    max-width: 500px;
  }

  .models-mainspec-car-name {
    font-size: 2.0rem;
  }

  .models-mainspec-table {
    width: 100%;
    min-width: 250px;
    table-layout: auto;
  }

  .models-trimprice-table {
    width: 100%;
    min-width: 250px;
    table-layout: auto;
    font-size: 1.0rem;
  }
}


/* 반응형CSS : 작은 사이즈 */
@media (max-width: 480px) {
  .button-container {
    font-size: 0.8rem;
  }

  .button-container-medium {
    font-size: 0.8rem;
  }

  .button-container-small {
    font-size: 0.5rem;
  }

  .button {
    font-size: 0.9rem;
  }
  
  .button2 {
    font-size: 0.8rem;
  }
  
  .models-mainspec-car-name {
    font-size: 1.2rem;
  }

  .models-mainspec-car {
    max-width: 150px;
  }
}